{% extends "base.html" %}
{% block title %}Change password{% endblock %}

{% block body %}
<fieldset class="layui-elem-field layui-field-title">
  <legend>Change password</legend>
  <div class="layui-field-box" style="font-size: medium;line-height: 30px;">
      <br />
      <form class="layui-form" method="post" id="changepwForm">
        {{ form.csrf_token }}
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:150px">
                {{ form.old_password.label }}：
            </label>
            <div class="layui-input-block">
                {{ form.old_password(class="layui-input", style="width:40%", placeholder="请输入原密码") }}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:150px">
                {{ form.password.label }}：
            </label>
            <div class="layui-input-block">
                {{ form.password(class="layui-input", style="width:40%", placeholder="请输入新密码") }}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:150px">
                {{ form.password2.label }}：
            </label>
            <div class="layui-input-block">
                {{ form.password2(class="layui-input", style="width:40%", placeholder="再次输入新密码") }}
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left:180px">
                <div class="layui-input-inline login-btn">
                    {{ form.submit(class="layui-btn",id="changepw") }}
                </div>
            </div>
        </div>
      </form>
  </div>
</fieldset>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/jquery.3.6.min.js"></script>
    <script>
        layui.use(['form','table','jquery'], function(){
              var table = layui.table;
              var form = layui.form;
            $(document).ready(function(){
                var form = new FormData(document.getElementById("changepwForm"));
                old_password = $('#old_password').val()
                password1 = $('#password').val()
                password2 = $('#password2').val()

            });
        });
    </script>
{% endblock %}