<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Demo</title>
  <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
  <link href="/static/layui/css/layui.css" rel="stylesheet">
</head>
<body class="layui-padding-3">
<div class="layui-layout layui-layout-admin">
<div class="layui-header layui-bg-cyan">
  <div class="layui-logo"><span style="color:#F0F0F0;font-size: large">book review system</span></div>
    <ul class="layui-nav layui-layout-right">
        {% if account %}
            <li class="layui-nav-item">
                <a href="#">
                    <img src="../static/icon.jpg" class="layui-nav-img">
                        {{ account.username }}
                </a>
            </li>
            <li class="layui-nav-item"><a href="{{ url_for('logout') }}">Log out</a></li>
            <li class="layui-nav-item"><a class="aa" href="{{ url_for('book.list') }}">Show a list of books</a></li>
        {% else %}
              <li class="layui-nav-item"><a class="aa" href="{{ url_for('login') }}">Sign in</a></li>
              <li class="layui-nav-item"><a class="aa" href="{{ url_for('book.list') }}">Show a list of books</a></li>
        {% endif %}
    </ul>
  </div>
</div>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
    </div>
{% endfor %}
</div>
<div style="width: 1500px;margin: auto">
    <br />
    <br />
    <br />
    <br />
<form class="layui-form" method="post" id="searchForm">
{{ form.csrf_token }}
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        {{ form.method(class="layui-input-inline") }}
                    </div>
                <div class="layui-col-md6">
                    <label class="layui-form-label">query:</label>
                    <div class="layui-input-inline">
                        {{ form.content(class="layui-input",style="width:250px") }}
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-input-inline">
                        {{ form.submit(class="layui-btn", id="search") }}
                    </div>

                </div>
            </div>
        </div>

    </div>
</form>
<table lay-even id="result">
      <thead>
        <tr>
          <th lay-data="{field:'id'}">ID</th>
          <th lay-data="{field:'pic'}">Picture</th>
          <th lay-data="{field:'name'}">Name</th>
          <th lay-data="{field:'author'}">Author</th>
          <th lay-data="{field:'isbn'}">ISBN</th>
          <th lay-data="{field:'introduction'}">Introduction</th>
        </tr>
      </thead>
          <tbody>
        {% for book in books %}
        <tr style="height: 100px !important;">
            <td>{{ book.id }}</td>
            <td><img src="/static/images/{{book.image}}" alt="{{ book.image }}的图片"></td>
{#            <td>{{ book.image}}</td>#}
            <td>{{ book.book_name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.intr }}</td>
        </tr>
        {% endfor %}
      </tbody>

</table>
</div>

<script src="/static/layui/layui.js"></script>
<script src="/static/jquery.3.6.min.js"></script>
<script>
layui.use(['form','table','jquery'], function(){
  var table = layui.table;
  var form = layui.form;
    $(document).ready(function(){
        $('#search').on('click',function () {
            var form = new FormData(document.getElementById("searchForm"));
            if($('#content').val() === ""){
                layui.use('layer', function(){
                    var layer = layui.layer;
                    layer.msg('Please fill in the query content',{time: 800});
                });
            }
            else{
                cur_content = $('#content').val()
                select_methods = $('#method').val()
                layer.msg('cur_content:'+cur_content+",select_methods:"+select_methods,{time: 800});
                window.location.href = '/book/list_query?content='+cur_content+"&method="+select_methods;
                {#window.location.href = '/book/list_query?content='+cur_content+"&method="+select_method;#}
            }
        return false;
    })
});

  // 行单击事件( 双击事件为: rowDouble )
  table.on('row(ID-table-demo-setRowChecked)', function(obj){
    var data = obj.data; // 获取当前行数据

   {# // 显示 - 仅用于演示#}
   {#layer.msg('当前行数据：<br>'+ JSON.stringify(data), {#}
   {#   offset: '65px'#}
   {# });#}

    // 使用Ajax将数据发送到后端
    $.ajax({
        type: 'POST',
        url: '/book/test',
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(data),
        success: function(response) {
            // 处理后端返回的数据
            window.location.href = '/book/detail?id=' + data.id;
        },
        error: function(error) {
            console.log(error);
        }
    });

    // 标注当前点击行的选中状态
    obj.setRowChecked({
      type: 'radio' // radio 单选模式；checkbox 复选模式
    });
  });
  // 头工具栏事件
  table.on('toolbar(ID-table-demo-setRowChecked)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
    switch(obj.event){
      case 'getCheckData':
        var data = checkStatus.data;  // 获取选中行数据
        {#layer.alert(JSON.stringify(data));  // 显示 - 仅用于演示#}
      break;
    };
  });
});


</script>
<style>
    .layui-table-cell{
        height:auto;
        line-height: 30px;
    }
</style>

</body>
</html>