{% extends "base-user.html" %}
{% block title %}Welcome to the book review system{% endblock %}

{% block body %}
    <div class="login-main">
        <header class="layui-elip">Sign in</header>
        <form class="layui-form" method="post" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            <div class="layui-input-inline">
                {{ form.account(class="layui-input",placeholder="Account ID") }}
            </div>
            <div class="layui-input-inline">
                {{ form.password(class="layui-input",placeholder="Password") }}
            </div>
            <div class="layui-input-inline login-btn">
                {{ form.submit(class="layui-btn") }}
            </div>
            <hr/>
            <p><a href="{{ url_for('user.register') }}" class="fl">Sign up</a></p>
        </form>

    </div>
{% endblock %}