{% extends 'base.html' %}
{% block title %}Upload books{% endblock %}

{% block body %}

    <fieldset class="layui-elem-field layui-field-title">
    <legend>Upload book</legend>
    <div class="layui-container" style="margin-top: 50px;">
    <form class="layui-form" action="/book/add_newbook" method="post" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">book picture</label>
            <button type="button" class="layui-btn" id="ID-upload-demo-btn">
              <i class="layui-icon layui-icon-upload"></i> Upload picture
            </button>
            <div style="width: 132px;">
              <div class="layui-upload-list">
                <img class="layui-upload-img" id="ID-upload-demo-img" style="width: 100%; height: 92px;">
                <div id="ID-upload-demo-text"></div>
              </div>
              <div class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="filter-demo">
                <div class="layui-progress-bar" lay-percent=""></div>
              </div>
            </div>
        </div>

        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">book name</label>
            <div class="layui-input-block">
                <input type="text" name="pic_name" placeholder="input the picture" class="layui-input" id="picinput">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">book name</label>
            <div class="layui-input-block">
                <input type="text" name="book_name" required lay-verify="required" placeholder="Please enter the book name" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">ISBN</label>
            <div class="layui-input-block">
                <input type="text" name="isbn" required lay-verify="required" placeholder="Please enter the ISBN number" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">author</label>
            <div class="layui-input-block">
                <input type="text" name="author" required lay-verify="required" placeholder="Please enter the author name" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">book introduction</label>
            <div class="layui-input-block">
                <textarea name="introduction" required lay-verify="required" placeholder="Please enter the book introduction" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">submit</button>
            </div>
        </div>
    </form>
</div>
    </fieldset>

    <script src="/static/layui/layui.js"></script>
<script src="/static/css/layui.css"></script>
<script src="/static/jquery.3.6.min.js"></script>
<script>
layui.use(function(){
  var upload = layui.upload;
  var layer = layui.layer;
  var element = layui.element;
  var $ = layui.$;
  // 单图片上传
  var uploadInst = upload.render({
    elem: '#ID-upload-demo-btn',
    url: '/book/uploadimg', // 实际使用时改成您自己的上传接口即可。
    before: function(obj){
      // 预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('#ID-upload-demo-img').attr('src', result); // 图片链接（base64）
      });

      element.progress('filter-demo', '0%'); // 进度条复位
      layer.msg('Uploading', {icon: 16, time: 0});
    },
    done: function(res){
      // 若上传失败
      if(res.code > 0){
        return layer.msg('Upload failed');
      }
      // 上传成功的一些操作
      // …
      $('#ID-upload-demo-text').html(''); // 置空上传失败的状态
        var inputElement = document.getElementById('picinput');

        // 修改输入框的值
        inputElement.value = res.pic;
    },
    error: function(){
      var demoText = $('#ID-upload-demo-text');
      demoText.html('<span style="color: #FF5722;">Upload failed</span> <a class="layui-btn layui-btn-xs demo-reload">retry</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
    },
    // 进度条
    progress: function(n, elem, e){
      element.progress('filter-demo', n + '%'); // 可配合 layui 进度条元素使用
      if(n == 100){
        layer.msg('Upload completed', {icon: 1});
      }
    }
  });
  });
</script>
{% endblock %}

